<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PHP JS Test</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
        {% endblock %}
        <base href="/app">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
            <script src="vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="vendor/angular/angular.min.js" type="text/javascript"></script>
            <script src="vendor/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>
            <script src="app/app.module.js" type="text/javascript"></script>
            <script src="app/core/core.module.js" type="text/javascript"></script>
            <script src="app/product/product.module.js" type="text/javascript"></script>
            <script src="app/product/product.controller.js" type="text/javascript"></script>
            <script src="app/product/product.service.js" type="text/javascript"></script>
            <script src="app/app.config.js" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
